.btn-pending
    color: #fff
    background-color: rgb(32,199,89)
    padding: 15px 20px
    border: 1px solid rgb(32,199,89)
    border-radius: 8px
    text-transform: uppercase
    font-weight: 700
    margin: 10px 0
    @media screen and (max-width: 550px)
        margin: 5px 0
.cancel
    color: rgba(0,0,0,0.5)
    cursor: pointer
    display: block
    font-weight: 200
    margin-top: 10px
    text-align: center
    text-decoration: underline
    width: 100%
    @media screen and (max-width: 550px)
        margin-top: 5px