
.modal-vote-dialog
    pointer-events: auto
    width: 70vw
    max-height: 90vh
    margin: 0 20px
    padding: 10px 30px
    background-color: #fff
    z-index: 99
    overflow: auto
    position: relative
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.33)
    -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.33)
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.33)
    @media screen and (max-width: 550px)
      margin: 0
      width: 340px
      // margin-left: -170px
      padding: 10px
      // margin-top: -620px
          
    .close-modal
      padding: 2px 8px
      color: #1daeec
      border: 2px solid #1daeec
      border-radius: 50px
      text-align: center
      font-size: 18px
      font-weight: 400
      margin-right: -40px
      cursor: pointer 
      position: absolute
      right: 50px
      @media screen and (max-width: 550px)
        margin-right: 10px
        right: 0
      &:hover
        color: #1daeec

    .btn-pending
        color: #fff
        background-color: rgb(32,199,89)
        padding: 15px 20px
        border: 1px solid rgb(32,199,89)
        border-radius: 8px
        text-transform: uppercase
        font-weight: 700
        margin: 10px 0
        align-self: center
        @media screen and (max-width: 550px)
          margin: 5px 0
    .cancel
        color: rgba(0,0,0,0.5)
        cursor: pointer
        display: block
        font-weight: 200
        margin-top: 10px
        text-align: center
        text-decoration: underline
        width: 100%
        @media screen and (max-width: 550px)
          margin-top: 5px
    
    .proyectos-container
      display: flex
      justify-content: center
      flex-wrap: wrap
      overflow: auto
      
      .presupuesto-topic-card
        width: 240px
        overflow: auto