.update-stage
	.error-message
		width 100%
		p
			display inline-block
			background #ffc5c5
			color #961010
			padding 10px 5px
			margin 0 0 15px 0
			font-size 14px
			border-radius 2px
	.success-message
		width 100%
		p
			display inline-block
			background #27ae60
			color #fff
			padding 10px 5px
			margin 0 0 15px 0
			font-size 14px
			border-radius 2px
.wrapper-select
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: baseline
	@media (max-width: 425px)
		justify-content: center
	div
		@media (max-width: 425px)
			display: flex
			justify-content: center
			flex-wrap: wrap
		.stage-label
			font-size: 16px
			font-weight: normal
			line-height: 1.4
			margin-right: 10px
			@media (max-width: 425px)
				text-align: center
		.select-stage
			background-color: #FFF
			border-radius: 2px
			height: 34px
			@media (max-width: 425px)
				margin-bottom: 5px
