.proyecto-container
  .created-at
    text-align: right

  .comments-list-item:hover > .meta .validated-badge .validated-label,
  .replies-list-item:hover > .meta .validated-badge .validated-label
    display: inline-block

  @import './validated-badge/styles'
  @import '../../../../../lib/site/topic-layout/topic-article/comments/styles'
