.proyecto-container
  .validated-badge
    color: #1daeec
    font-size: 15px
    display: inline-block
    vertical-align: middle
    margin-left: 8px
    border: 1px solid #f7931d
    border-radius: 50%
    padding: 3px 3px 3px 4px
  @import '../../../../../lib/site/topic-layout/topic-article/comments/styles'
