@import './update-stage/styles'


.export-year
  color: #777
  font-size: 12px
  position: absolute
  top: 265px
  right: 26px
  @media (max-width: 991px)
  	top: 350px
  @media (max-width: 425px)
  	top: 455px
  	left: 26px
  @media (max-width: 375px)
    top: 470px