@import './confirmacion/styles'
@import './vote-joven/styles'
@import './first-vote/styles'
@import './second-vote/styles'
@import '../../../../../lib/site/home-presupuesto/topic-card/styles'


.modal-wrapper
    position: fixed
    width: 100vw
    height: 100vh
    z-index: 50
    
  .overlay
    height: 100%
    width: 100%
    background-color: #fff
    opacity: .5
    z-index: 75